/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.app-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}

.left-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* To ensure the image fills the container */
  position: relative;
  background-image: url('./assets/badminton-concept-with-dramatic-lighting.jpg');
  background-size: cover; /* Adjust this as needed */
  background-position: center;
}

.left-div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0; /* Adjust this value to control the gradient transition */
  bottom: 0;
  left: auto;
  width: 200px; /* Adjust this value to control the gradient width */
  background: linear-gradient(to right, rgba(0, 0, 0, 0), black); /* Inverted gradient direction */
}

.right-div {
  flex: 1;
  background-color: black;
  color: white; /* Assuming you want white text on black background */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

